{{ define "content" }}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-2 fw-bold">Unknown URL :(</h1>
            <p class="fs-3">This URL is not known to us, and as such we cannot redirect you.</p>
            <a href="/" class="btn btn-primary">Generate a new URL!</a>
        </div>
    </div>
{{ end }}
